.navbar-background {
    background-color: #061635; 
}

.navbar-header {
    position: relative;
}

.dropdown-menu {
    width: 24rem; 
}

.dropdown-section {
    margin-bottom: 1rem; 
}

.dropdown-header {
    font-size: 1.125rem; 
    font-weight: 600;
    margin-bottom: 0.5rem; 
    color: white;
}

.dropdown-item {
    display: block;
    padding: 0.5rem 0;
    color: #edf2f7; 
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #2d3748; 
}

.navbar-logo {
    color: #fff;
}

.text-saffron {
    color: #f4a300; 
}

.text-green {
    color: #00a859; 
}


.dropdown-section {
    margin-bottom: 1rem; 
}



 
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #f0f8ff;
    color: #0c5460;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-close-button {
    background: #0b6d93;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.modal-close-button:hover {
    background: #0a5e76;
}



