
.about-container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
   
    background-size: cover; 
    background-position: center; 
    color: #fff; 
  }
 
  .company-overview {
    text-align: center;
    margin-bottom: 40px;
    background: rgba(201, 50, 39, 0.7);
     
    padding: 20px;
    border-radius: 8px; 
  }
  
  
  .about-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .about-text {
    flex: 1;
    padding: 20px;
  }
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

  .about-image {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    margin: 0 20px; 
  }
  
  .reverse {
    flex-direction: row-reverse; 
  }
  
  .learn-more {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn-more:hover {
    background-color: #0056b3; 
  }
  
  .businesses {
    margin: 40px 0;
  }
  
  .business-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .business-list li {
    font-size: 1.2rem;
    color: black; 
    text-align: center;
  }
  
  .investee-companies {
    margin: 40px 0;
  }
  
  .leadership-images {
    display: flex;
    justify-content: space-around; 
  }
  
  .circle {
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 2px solid #007bff; 
    margin: 10px;
  }
  
  .circle img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }
  
  