/* Network Page Styles */
.network-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.network-content {
  display: flex;
  flex: 1;
}

.network-main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.connection-info, .company-infor, .connection-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out;
  width: 50%;
  margin-left: 400px;
}

.connection-info:hover, .company-info:hover, .connection-item:hover {
  transform: translateY(-5px);
}

.profile-image, .company-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.connection-info div, .company-info div {
  display: flex;
  flex-direction: column;
}

.company-infor h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.accept-button, .add-to-network-button, .follow-button {
  background-color: #4CAF50;
  color: white;
}

.accept-button:hover, .add-to-network-button:hover, .follow-button:hover {
  background-color: #45a049;
}

.cancel-button, .cancel-request-button, .unfollow-button {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

.cancel-button:hover, .cancel-request-button:hover, .unfollow-button:hover {
  background-color: #e53935;
}

.connection-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.connection-item {
  justify-content: flex-start;
  align-items: center;
}

.connection-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.connection-item div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.connection-item h4 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: black;
}

.followed-companies ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.followed-companies li {
  flex-basis: calc(50% - 15px);
  box-sizing: border-box;
}

.followed-companies .company-info {
  flex-direction: row;
  align-items: center;
}

.followed-companies .company-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.followed-companies button {
  background-color: #2196F3;
  color: white;
}

.followed-companies button:hover {
  background-color: #1e88e5;
}
