   .employer-navbar {
    background-color: #2c3e50; 
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  overflow: hidden; 
}

.profile-img-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* .employer-navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.navbar-container .account-icon {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links .nav-item {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 15px;
  font-size: 16px;
}

.nav-links .nav-item .nav-icon {
  margin-right: 8px;
}

.logout-section {
  display: flex;
  align-items: center;
}

.logout-btn {
  background-color: #e74c3c; 
  color: white;
  font-size: 16px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.logout-btn:hover {
  background-color: #c0392b; 
}

.logout-btn .nav-icon {
  margin-right: 8px;
}
.nav-links {
  display: flex;
  justify-content: space-between;  /* Evenly space the items */
  flex-wrap: wrap;
}

.nav-links li {
  margin-right: 20px;
}
.nav-links li {
  margin-right: 20px; /* Adjust as needed */
}

/* If you need specific spacing between certain items */
.nav-links li:nth-child(4) {
  margin-right: 20px; /* Adjust to create space after Notifications */
}
